<ion-content>
  <div class="container-fluid">
    <div class="row header">
      <!-- Resim ve Geri-->
      <div class="fixed-top text-center back backSvg " (click)="back()"></div>
      <div class="col-12 gx-0">
        <div class="absolute-top resImg" style="background-image: url('{{photo}}');"></div>

      </div>
    </div>
    <div class="row res">
      <!-- Hazırlanış -->
      <div class="col-11 resTitle">Hazırlanışı</div>
      <div class="col-12 resText">{{resText}}</div>
    </div>
    <div class="row res justify-content-end">
      <!-- İçindekiler -->
      <div class="col-11  resTitle " style="text-align: start; margin-bottom: 10px;">İçindekiler</div>
      <i class="far fa-bookmark saved" (click)="addSaved()"></i>

    </div>
    <div class="checkBox">
      <div class="row" *ngFor="let item of items">
        <div class="col-12 ">
          <input type="checkbox"><label class="checkBoxText">{{item}}</label>
        </div>
  
      </div>
    </div>

    
    <div class="row fixed-bottom justify-content-center">
      <!-- Yuvarlak -->
      <div class="circle ">
        <div class=" circleText text-center" >{{name}}</div>
      <div class="circleStar text-center">
        <i class="fas fa-star star"></i><i class="fas fa-star star"></i><i class="fas fa-star star"></i> <i
        class="fas fa-star-half-alt star"></i> <i class="far fa-star star"></i></div>
    </div>
    </div>


  </div>
</ion-content>