<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- <div class="header"> -->
      <div class="container-fluid">
        <div class="row align-items-center justify-content-center ">
        <div class="col-1 text-end">
          <img class ="img "src="https://firebasestorage.googleapis.com/v0/b/ionicneyesem.appspot.com/o/result.svg?alt=media&token=8452c3ee-c968-42f3-a51b-8cec2b330393" >
        </div>
        <div class="col-2 title"> NE YESEM
          <div class="col text"> Her şey mutfağa girmekle başlar.....</div>
        </div>
        <div class="col-1 ">
          <ion-buttons slot="start">
            <ion-menu-button menu="main-menu"></ion-menu-button>
          </ion-buttons>
        </div>
      </div>
    </div>
    <!-- </div> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <hr>
  <div class="scrollbar">
    <div class="center">
      <div class="rows">
        <div class="coll">
          <input type="text" id="searchh" placeholder="Arama">
        </div>
        <div><i class="fa fa-search search"></i></div>
      </div>
    </div>

<div class="container">
  <div class="row d-flex align-items-center justify-content-center "   >
    <div class="col box1"*ngFor="let data of data"  style="background-image: url('{{data.photo}}');">
      <p>{{data.name}}</p>
    </div>
  </div>
</div>



    <div class="box">
      <div class="boxes">

        <div class="box1"> <img src="assets/images/1.jpg" style=" height: 65%;">
          <p>hamburger</p> <i class="fas fa-star star" style="margin-left: 8px;"></i><i class="fas fa-star star"></i> <i
            class="fas fa-star-half-alt star"></i> <i class="far fa-star star"></i>
        </div>
        <div class="box2"> <img src="assets/images/2.jpg" style=" height: 65%;">
          <p>Pizza</p> <i class="fas fa-star star" style="margin-left: 8px;"></i><i class="fas fa-star star"></i> <i
            class="fas fa-star-half-alt star"></i> <i class="far fa-star star"></i>
        </div>
        <div class="box3"><img src="assets/images/3.jpg" style=" height: 65%;">
          <p>Pide</p> <i class="fas fa-star star" style="margin-left: 8px;"></i><i class="fas fa-star star"></i> <i
            class="fas fa-star-half-alt star"></i> <i class="far fa-star star"></i>
        </div>
      </div>
      <div class="boxes2">
        <div class="box4"><img src="assets/images/4.jpg" style=" height: 65%;">
          <p>Pankek</p> <i class="fas fa-star star" style="margin-left: 8px;"></i><i class="fas fa-star star"></i> <i
            class="fas fa-star-half-alt star"></i> <i class="far fa-star star"></i>
        </div>
        <div class="box5"> <img src="assets/images/5.jpg" style=" height: 65%;">
          <p>Baklava</p> <i class="fas fa-star star" style="margin-left: 8px;"></i><i class="fas fa-star star"></i> <i
            class="fas fa-star-half-alt star"></i> <i class="far fa-star star"></i>
        </div>
        <div class="box6"> <img src="assets/images/6.jpg" style=" height: 65%;">
          <p>Lahmacun</p> <i class="fas fa-star star" style="margin-left: 8px;"></i><i class="fas fa-star star"></i> <i
            class="fas fa-star-half-alt star"></i> <i class="far fa-star star"></i>
        </div>
      </div>

    </div>
    <div class="boxx ">
      <div class="boxes">

        <div class="box1"> <img src="assets/images/7.jpg" style=" height: 65%;">
          <p>Makarna</p> <i class="fas fa-star star" style="margin-left: 8px;"></i><i class="fas fa-star star"></i> <i
            class="fas fa-star-half-alt star"></i> <i class="far fa-star star"></i>
        </div>
        <div class="box2"> <img src="assets/images/8.jpg" style=" height: 65%;">
          <p>Waffle</p> <i class="fas fa-star star" style="margin-left: 8px;"></i><i class="fas fa-star star"></i> <i
            class="fas fa-star-half-alt star"></i> <i class="far fa-star star"></i>
        </div>
        <div class="box3"><img src="assets/images/9.jpg" style=" height: 65%;">
          <p>Köfte</p> <i class="fas fa-star star" style="margin-left: 8px;"></i><i class="fas fa-star star"></i> <i
            class="fas fa-star-half-alt star"></i> <i class="far fa-star star"></i>
        </div>
      </div>
      <div class="boxes2">
        <div class="box4"><img src="assets/images/10.jpg" style=" height: 65%;">
          <p>Dolma</p> <i class="fas fa-star star" style="margin-left: 8px;"></i><i class="fas fa-star star"></i> <i
            class="fas fa-star-half-alt star"></i> <i class="far fa-star star"></i>
        </div>
        <div class="box5"> <img src="assets/images/11.jpg" style=" height: 65%;">
          <p>Çorba</p> <i class="fas fa-star star" style="margin-left: 8px;"></i><i class="fas fa-star star"></i> <i
            class="fas fa-star-half-alt star"></i> <i class="far fa-star star"></i>
        </div>
        <div class="box6"> <img src="assets/images/12.jpg" style=" height: 65%;">
          <p>Sütlaç</p> <i class="fas fa-star star" style="margin-left: 8px;"></i><i class="fas fa-star star"></i> <i
            class="fas fa-star-half-alt star"></i> <i class="far fa-star star"></i>
        </div>
      </div>
      <div class="txtt"><b>Kategoriler</b>
        <ul>
          <li>Çorbalar</li>
          <li>Makarnalar</li>
          <li>Pilavlar</li>
          <li>Et ve Tavuk</li>
          <li>Kek ve Kurabiye</li>
          <li>Tatlılar</li>

        </ul>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="fot1">Yeterli değil mi?</div>
    <div class="fot2">Hesap açmayı deneyin</div>
    <div class="fot3"><button><a type="button" routerlink="/tabs/register" href="/tabs/register">Kayıt Ol </a></button>
    </div>
    <div class="fot4">
      <div>
        <hr class="hrr">
      </div>
      <div class="txt"> Zaten Üye misin </div>
      <div>
        <hr class="hrr">
      </div>
    </div>
    <div class="fot5">
      <button class="buttonn"><a type="button" href="/tabs/login">Giriş Yap</a></button>
    </div>
  </div>

</ion-content>