<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header">
      <div class="container">
        <div class="col1">
          <img src="assets/images/icon.png" style="width: 60px; height: 50px;">
        </div>
        <div class="col2"> NE YESEM
          <div class="col3"> Her şey mutfağa girmekle başlar.....</div>
        </div>
      </div>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
<hr>

  <div class="profile">

    <div class="bilgi"> 
      <ion-avatar style=" text-align: center;"> 
      <ion-img [src]="user?.photourl "> </ion-img>
      </ion-avatar>
    </div>
      <div class="photo">
  

    <div class="bilgi2">  <H2>Hoşgeldin  {{user?.userName}}</H2>
      
      <div >  <hr class="hr2"></div>
      <div> <i class="fas fa-phone-alt"></i>  {{user?.userPhone}} </div>
      <div> <i class="fas fa-envelope"></i>  {{user?.userEmail}} </div>
      <div> <i class="fas fa-globe"></i> {{user?.createdAt | date}} </div>
      <div> <i class="fas fa-street-view"></i>NETGER</div>
<p></p>  </div>
    </div>
  </div>
  <ion-button expand="block" *ngIf="!isLoading && !isLoaded" shape="round" class="image">
    <ion-icon name="images" style="margin-right: 5px;"></ion-icon>
  <input type="file" (change)="addImage($event)" accept="image/png, image/jpg" id="file-input">
  </ion-button>

  <ion-button class="logout" expand="block" shape="round" (click)="logout()">Çıkış Yap</ion-button>

</ion-content>