.container
{
    display: grid;
     grid-template-columns: 90px 220px 50px;
     margin-top: 15px;
    
}

.header
{
        display: grid;
        margin-top: 15px;
    
        justify-items: center;
    
}
      
.col2
{
 display: grid;
grid-template-rows: 20px 40px;
color: #C9313D;
font-weight: bold;
text-align: left;
     
}

.col3
{
color:black;
font-size: 10px;
margin-left: 40px;
}
   
hr
{
opacity: 1;
background:  #FEE169;
height: 6px;
border-radius: 9999px;
width: 100%;
display:inline-block;
margin: 0;
margin-bottom :.75rem;
}
.hr2
{
opacity: 1;
background:  #Cdd452;
height: 6px;
border-radius: 9999px;
width: 100%;
display:inline-block;
margin: 0;
margin-bottom :.75rem;
}
    
       
.profile
{
  width: 100%;
display: grid;
grid-template-rows:  170px 100px 300px;
justify-items: center;
}

.logout
{
width: 110px;
height: 30px;
--background: #C9313D;
border-radius: 10px;
 text-align: center;
margin-left: 35%;
}
.image{
  width: 280px;
height: 30px;
--background: #F9722E;
border-radius: 10px;
 text-align: center;
 margin-left: 5%;
}
h2
{
text-align: center;
}
.bilgi{
position: relative;   
text-align: center;
}
 
.bilgi2
{
 position: relative;
 text-align: center;
 
}
i{
  margin-top: 45px;
  margin-left: 30px;
  margin-right: 20px;
}
b{
  margin-left: 15px;
}
ion-avatar{
height: 150px;
width: 150px;
margin: auto;
border:4px solid #F9722E;
}