<ion-header>
  <p>{{cate?.name}}</p>
  <div class="fixed-top text-center back backSvg " (click)="back()"></div>
</ion-header>

<ion-content>
<div class="container-fluid p-3 ">
  <div class="row justify-content-center  ">
    <div class="col-3 gx-0 kutu text-center " *ngFor="let data of data">
      <a  [routerLink]="['/recipes', data.payload.doc.data().id]" (click)=Index(data.payload.doc.data().id) >
        <div class="box-img text-center "  style="background-image: url('{{data.payload.doc.data().photo}}');">

        </div>
        <div class="box-text text-center">{{data.payload.doc.data().name}}</div>
        <div class="box-star text-center">
          <i class="fas fa-star star"></i><i class="fas fa-star star"></i><i class="fas fa-star star"></i> <i
            class="fas fa-star-half-alt star"></i> <i class="far fa-star star"></i>
        </div>
      </a>
    </div>
   
  </div>
</div>
<div *ngIf="beko!" class="footer">
  <div class="fot1">Yeterli değil mi?</div>
  <div class="fot2">Hesap açmayı deneyin</div>
  <div class="fot3"><button><a type="button" routerlink="/tabs/register" href="/tabs/register">Kayıt Ol </a></button>
  </div>
  <div class="fot4">
    <div>
      <hr class="hrr">
    </div>
    <div class="txt"> Zaten Üye misin </div>
    <div>
      <hr class="hrr">
    </div>
  </div>
  <div class="fot5">
    <button class="buttonn"><a type="button" href="/tabs/login">Giriş Yap</a></button>
  </div>
</div>
</ion-content>