<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header">
      <div class="container">
        <div class="col1">
          <img src="assets/images/icon.png" style="width: 60px; height: 50px;">
        </div>
        <div class="col2"> NE YESEM
          <div class="col3"> Her şey mutfağa girmekle başlar.....</div>
        </div>
        <div>
          <a type="button" routerlink="/tabs/tab1" href="/tabs/tab1">
            <ion-icon name="home" class="home"></ion-icon>
          </a>
        </div>
      </div>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <hr>
  <div class="grid">
    <div>
      <button (click)="goBack()" class="back"><i class="fas fa-chevron-left"></i></button>
    </div>
    <div>
      <h4>Kayıt Ol</h4>
    </div>
    <ion-card>
      <form>
        <ion-list>
          <ion-item>
            <ion-label position="stacked">İsim</ion-label>
            <ion-input required type="text" [(ngModel)]="name" name="name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <ion-input required type="email" [(ngModel)]="email" name="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Telefon</ion-label>
            <ion-input required type="text" [(ngModel)]="phone" name="phone"></ion-input>
          </ion-item> 
          <ion-item>
            <ion-label position="stacked">Şifre</ion-label>
            <ion-input required type="password" [(ngModel)]="password" name="password" ></ion-input>
          </ion-item> 
          <ion-item>
            <ion-label position="stacked">Şifre Tekrarı</ion-label>
            <ion-input required type="password" [(ngModel)]="confirmpassword"  name="confirmpassword" (ionChange)="checkPassword()"></ion-input>
          </ion-item>
          <ion-item *ngFor="let entry of form">
            <ion-label>{{entry.val}}</ion-label>
            <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
          </ion-item>
        </ion-list>
      </form>
    </ion-card>

  </div>
  <div class="btnn">
    <a type="button"><button id="btn-submit"  (click)="register()">Kaydet</button></a>
  </div>
 
</ion-content>